* {
  box-sizing: border-box;
}

body {
  background-color: rgb(110, 110, 218);
}

header {
  box-sizing: border-box;
  background-color: rgb(97, 97, 172);
  width: 850px;
  margin: auto;
  border: 2px solid black;
}

.first-column {
  position: relative;
  width: 328px;
  border: 2px solid black;
  left: 325px;
}

.second-column {
  position: relative;
  width: 512px;
  border: 2px solid black;
  left: -90px;
}

.square1 {
  position: relative;
  background-color: rgb(58, 58, 163);
  width: 100px;
  height: 100px;
  top: 0px;
  left: -50px;
}

.nav {
  position: relative;
  top: 100px;
  left: 500px;
}
.like {
  position: relative;
  left: 450px;
  top: -127px;
}

.information {
  column-count: 2;
  column-gap: 10px;
  margin-top: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}

.third-square {
  position: relative;
  background-color: green;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 340px;
}

.second-square {
  position: relative;
  background-color: rgb(78, 4, 78);
  width: 100px;
  height: 100px;
  top: 0px;
  left: -340px;
}
.intro {
  position: relative;
  color: white;
  top: 100px;
  left: 75px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
